# -------   Waryme  ----------
# Identifiant de connexion
WARYME_ID=...
# Mot de passe de connexion
WARYME_PASSWORD=....
# URL de base de la plateforme WaryMe
WARYME_URL=https://rtm-admin.waryme.fr/

# -------   Voi  ----------
USER_ID = ""....""
PASSWORD = "..."


DATABASE_URL=sqlite:///data/mobilite_db.sqlite


